.App{
  display: flex;
  text-align: center;
  justify-content: center;
}
.navbar {
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  padding: 0.5rem 1rem 0;
}
.navbar-links{
  font-family: 'Cormorant Upright', serif;
  font-style: italic;
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
  list-style: none;
}
.navbar-links a {
  margin: 0 2rem;
  cursor: pointer;
  color: #fff;
}
.navbar-links a:hover {
  color: rgb(89, 171, 242);
}
.navbar-category{
  display: flex;
  font-size: 2rem;

}
.todoContainer{
  width: 50%;
  border: 2px solid black;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 5px 5px rgb(84, 142, 222);
}
.todoTitle{
  font-size: 3rem;
  font-weight: 900;
}
.todoForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.todoLabel{
  padding: 0.5rem;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700; 
}
.inputAndBtn{
  display: flex;
}
.inputBtn{
  border-radius: 5%;
  font-weight: 700;
  box-shadow: 1px 2px black;
}
.todoInput{
  width: 90%;
  padding: 0.5rem;
  box-shadow: 2px 2px black;
  border-radius: 2%;
}
.eachTodo{
  cursor: pointer;
}
.eachTodo-complete{
  cursor: pointer;
  text-decoration: line-through;
}